/*Damos formato a la fuente*/

@font-face {
    font-family: 'longa_iberica';
    src: url(../fonts/longa_iberica/LongaIberica-DEMO.ttf) format('truetype');
}

/*Damos formato al Header*/

header {
    background: black;
    background: black;
}

.header {
    display: flex;
    /*Usamos display flex para colocar los elementos en fila*/
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

.header img {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Damos formato al nav-bar*/

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

/*Imagen de Samain*/

.avisoLegal img {
    width: 100vw;
    height: auto;
}

/*Formato al párrafo*/

.avisoLegal h1 {
    margin-left: 5px;
    margin-right: 5px;
}

.avisoLegal p {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.listado_cookies li {
    color: black;
}

/*Damos formato al footer*/

.quienes_somos,
.contacto,
.ultimas_noticias {
    display: inline-block;
    margin-left: 10px;
}

.phone,
.fax,
.email,
.location {
    display: inline-flex;
    margin-left: 10px;
}

footer {
    background-color: black;
    margin-top: 20px;
}



h2 {
    font-family: 'longa_iberica', sans-serif;
    font-size: 40px;
    color: red;
    font-weight: bold;
    letter-spacing: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

li {
    color: white;
}

.tweet_text a {
    text-decoration: none;
    color: white;
}

.tweet_time {
    color: orange;
}

/*Damos formato a la estructura de la política de privacidad, el aviso legal y las Cookies*/
.conditions {
    list-style-type: none;

}

.conditions a {
    text-decoration: none;
    color: grey;
    padding: 10px 15px;
    /*Relleno interno para aumentar el área clicable*/
    display: block;
}

.logo {
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo img {
    margin-left: 40px;
}

@media screen and (min-width: 700px) and (max-width: 3270px) {
    /*Header*/

    .header img {
        margin-left: 70px;
    }

    /*Menu*/

    .nav-item {
        margin-left: 60px;

    }

    .navbar-brand {
        margin-left: 10px;
    }

    /*Explicación Samain*/

    .Samain {
        width: 90vw;
        justify-content: center;
        text-align: center;

    }

    /*footer*/

    footer>div {
        margin: 10px;
    }

    /*Usamos flexbox solo en main-sections*/

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .main-sections {
        display: flex;
        justify-content: space-between;
        /*Distribuye uniformemente las secciones*/
        align-items: flex-start;
        /*alinea la secciones por la parte superior*/
        flex-wrap: wrap;
        /*permite que se reorganicen en pantallas pequeñas*/
    }

    .main-sections .quienes_somos,
    .main-sections .contacto,
    .main-sections .noticias {
        flex: 1;
        /*Cada sección tendrá el mismo ancho*/
    }

    .Samain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    /*Estilos para las listas*/

    .legal_conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

    }

    .conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /*Estilos para los elementos de las listas*/

    .conditions li {
        margin-right: 15px;
        /*Espaciado entre los elementos de la lista*/
    }
}