/*Damos formato a la fuente*/

@font-face {
    font-family: 'longa_iberica';
    src: url(../fonts/longa_iberica/LongaIberica-DEMO.ttf) format('truetype');
}


/*Damos formato al Header*/

header {
    background: black;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}

.header img:first-child {
    height: 70px;  /*Logo Izquierda*/
}

.header img:last-child {
    height: 120px; /*Texto Samain más grande*/
    object-fit: contain; /*Evita deformaciones*/
}

/*Damos formato al nav-bar*/

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

/*Damos formato a los diferentes carteles*/

.programas-carteles {
    width: 90vw;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.programas-carteles img {
    max-width: 90vw;
    height: auto;
}

/*Estilos para el lightbox*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

/*Imagen dentro del lightbox*/

.lightbox img {
    max-width: 90vw;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.programa {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px;
    background: radial-gradient(circle at center, #a8edea 0%, #6ee7b7 60%, #3eb489 100%);   
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.programa h3,
.programa ul,
.programa ul li,
.programa ul li p {
    margin: 0 auto;
    /*Asegura que todos los elementos secundarios estén centrados*/
    text-align: center;
}

.programa h3,
.programa h4,
.programa h5 {
    font-weight: bolder;
    color:rgb(7, 80, 237);
    margin-top: 20px;
}

.programa li {
    color: black;
    list-style: none;
}

.programa p {
    color: black;
}

.programa ul li {
    /*Aumentamos el tamaño de la fuente*/
    font-weight: bold;
}

.programa ul li p {
    font-weight: normal;
}

/*Damos formato al footer*/

.quienes_somos,
.contacto,
.ultimas_noticias {
    display: inline-block;
    margin-left: 10px;
}

.phone,
.fax,
.email,
.location {
    display: inline-flex;
    margin-left: 10px;
}

.phone p,
.fax p,
.email p,
.location p {
    color: white;
}

footer {
    background-color: black;
    margin-top: 20px;
}

h2 {
    font-family: 'longa_iberica', sans-serif;
    font-size: 40px;
    color: red;
    font-weight: bold;
    letter-spacing: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

li {
    color: white;
}

.tweet_text a {
    text-decoration: none;
    color: white;
}

.tweet_time {
    color: orange;
}

/*Damos formato a la estructura de la política de privacidad, el aviso legal y las Cookies*/
.conditions {
    list-style-type: none;

}

.conditions a {
    text-decoration: none;
    color: grey;
    padding: 10px 15px;
    /*Relleno interno para aumentar el área clicable*/
    display: block;
}

.logo {
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo img {
    margin-left: 40px;
}

/*Damos formato para monitores grandes*/

@media screen and (min-width: 700px) and (max-width: 3270px) {

    /*Header*/

    .header img {
        margin-left: 70px;
    }

    /*Menu*/

    .nav-item {
        margin-left: 60px;

    }

    .navbar-brand {
        margin-left: 10px;
    }

    .programas-carteles {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .programas-carteles img {
        width: 45%;
       
        height: auto;
    }

    /*footer*/

    footer>div {
        margin: 10px;
    }

    /*Usamos flexbox solo en main-sections*/

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .main-sections {
        display: flex;
        justify-content: space-between;
        /*Distribuye uniformemente las secciones*/
        align-items: flex-start;
        /*alinea la secciones por la parte superior*/
        flex-wrap: wrap;
        /*permite que se reorganicen en pantallas pequeñas*/
    }

    .main-sections .quienes_somos,
    .main-sections .contacto,
    .main-sections .noticias {
        flex: 1;
        /*Cada sección tendrá el mismo ancho*/
    }

    /*Estilos para las listas*/

    .legal_conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

    }

    .conditions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /*Estilos para los elementos de las listas*/

    .conditions li {
        margin-right: 15px;
        /*Espaciado entre los elementos de la lista*/
    }
}